extends layout

block content
    div.pubbody= ''
        ul.leftmenu= ''
            -for(let item in tnames)
                li= ''
                    -if (tnames[item].table_name == title) 
                        a(href='/schema/table/' + tnames[item].table_name).cur= tnames[item].table_name
                    -else
                        a(href='/schema/table/' + tnames[item].table_name)= tnames[item].table_name
        div.rightcontent= ''
            code= ''
                div.gray /**
                div.gray ├── schema
                div.gray= '└── ' + title + 'Schema.js'
                div.gray */
                div= ""
                div= "const moment = require('moment');"
                div= "module.exports = function (sequelize, DataTypes) {"
                div.tab1= "return sequelize.define('" + title + "', {"
                -for(let a in data) 
                    div.tab2=a + ':{'
                    -for(let b in data[a])
                        div.tab3=b + ':' + (data[a][b].toString().replace('date', a)) + ','
                    div.tab2='},'
                div.tab1= '}, {'
                div.tab2= 'timestamps: false, // 去除createAt updateAt'
                div.tab2= 'freezeTableName: true,  // 使用自定义表名'
                div.tab2= '// deletedAt: false'
                div.tab2= '// 删除数据时不删除数据，而是更新deleteAt字段 如果需要设置为true，则上面的deleteAt字段不能为false，也就是说必须启用'
                div.tab2= '// paranoid: false'
                div.tab1= '})'
                | }